image: node:20

pages:
  stage: deploy
  script:
    - npm install
    - npm run build
    - mv dist public # Vite
    # - mv build public # CRA
  artifacts:
    paths:
      - public
  only:
    - main
